* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
/* top nav */
.top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #151719;
}

.nav-li {
  float: left;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
/* top nav */

#sidebar {
  position: fixed;
  width: 15%;
  height: 100%;
  background: #151719;
  left: -180px;
  transition: all 500ms ease;
}
#sidebar.active {
  left: 0px;
}
#sidebar ul li {
  color: #ffffff;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
#sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
}
#sidebar .toggle-btn {
  position: absolute;
  left: 240px;
  top: 20px;
}

#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: rgb(1, 42, 146);
  margin: 3px 0px;
}

#name {
  text-align: center;
  font-size: 36px;
  position: relative;
  top: 100px;
}

#sidebar ul li {
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
